@font-face {
    font-family: 'Brown';
    src: url('../fonts/Brown-Light.eot');
    src: local('Brown-Light'),
        url('../fonts/Brown-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brown-Light.woff') format('woff'),
        url('../fonts/Brown-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/Brown-Regular.eot');
    src: local('../fonts/Brown-Regular'),
        url('../fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brown-Regular.woff') format('woff'),
        url('../fonts/Brown-Regular.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('../fonts/Brown-BoldAlt.eot');
    src: local('../fonts/Brown-BoldAlt'),
        url('../fonts/Brown-BoldAlt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Brown-BoldAlt.woff') format('woff'),
        url('../fonts/Brown-BoldAlt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



body{
	font-family: "Brown";
	font-weight: regular;
}
ul{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
}

._ibg{
	position: relative;
}
._ibg img{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

._container{
	max-width: 1200px;
	padding: 0 20px;
	margin: 0px auto;
	box-sizing: border-box;
}

.header{
	position:absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	
}

.header__container{
	display: flex;
	min-height: 105px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.menu{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.menu__item:not(:last-child){
	margin: 0 50px 0 0;
}
.btn{
	cursor: pointer;
	padding: 3px 20px 5px 20px;
    border-radius: 2px;
}

.btn_active{
	color: #ffffff;
	background: #845cff; 	
}

.menu__item:hover{
	color: #ffffff;
	background: #845cff; 
	cursor: pointer;
}
.menu__item_link{
	color: inherit;
}

.text-smile{
	color: #32325d;
	font-size: 16px;
	font-weight: regular;
}

.main-block{
	position: relative;
}

.main-block__body{
	position: relative;
	padding: 184px 0 194px 0;
	z-index: 2;
}

.main-block__body > *:not(:last-child){
	margin-bottom: 25px;
}

.main-block__title{
	max-width: 400px;
	font-weight: bold;
	font-size: 41px;
	line-height: 62px;
	color: #32325d;
}

.main-block__text{
	max-width: 400px;
	line-height: 32px;
	font-weight: 100;
	font-size: 20px;
	color: #525f7f;
}
.Block__buttons{
	margin-top: 35px;
	max-width: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.main-block__image{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}

.improves__blocks{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: -110px;
}
.blocks__item{
	width: 430px;
	height: 400px;
	background: #fff;
	padding: 30px 30px;
	box-sizing: border-box;
	margin: 10px 0;
	z-index: 1;
	margin-bottom: 35px;
}

.blocks__item:not(:first-child){
	box-shadow: -7px 1px 61px -34px rgb(0 0 0 / 30%);

}
.blocks__item_mini-head{
	font-size: 25px;
	color: #212240;
	font-weight: 100;
}
.blocks__item_text{
	max-width: 400px;
	align-items: center;
	line-height: 20px;
	font-size: 15px;
	color: #212240;
	font-weight: 100;
}

.Light-header{
	font-weight: 100;
	font-size: 35px;
	color: #32325d;

}
.item-header{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}
.item-header__text{
	line-height: 27px;
	font-size: 17px;
}

.blocks__item_image{
	height: 120px;
}

.blocks__item_image img{
	padding-top: 15px;
	height: 100px;
}

.Proof {
	text-align: center;
}
.Proof__container {}
.Proof__header {

}
.Proof__under-text {
	max-width: 800px;
	font-weight: 100;
	font-size: 20px;
	color: #525f7f;
	line-height: 30px;
	margin:0 auto;
}
.Proofes {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.Proofes__item {
	width: 200px;
	margin: 0 3% 50px 3%;
}

.Item__smoll-header {
	font-weight: regular;
	font-size: 16px;
	color: #212240;
	margin-bottom: 0px;

}
.Item__text {
	margin-top: 5px;
	font-size: 13px;
	line-height: 20px;
	font-weight: 100;
	color: #525f7f;
}

.Priority {
	
}
.Priority__container {
	position: relative;
}
._container {}
.Priority__body {
	max-width: 500px;
}
.Priority__offer {
	max-width: 440px;
}
.offer {}
.offer__header {

}
.Light-header {}
.offer__text {}
.Opshens {
	display: flex;
	justify-content: space-between;
}
.Opshens__item {
	max-width: 180px;
}
.Item__smoll-header {
	font-size: 27px;
	font-weight: 100;
	color: #32325d;

}
.Item__text {

}
.Block__buttons {}
.Block__buttons_link {}
.btn {}
.btn_active {}
.Block__buttons_text {}
.text-smile {}
.main-block__image {}
.background__image{
	position: absolute;
	width: 602px;
	height:100%;
	top: 0;
	right: 0;
	z-index: -1;	
}



@media (max-width: 996px){
	.header{
		top: 20px;
	}
	.header__container{
		flex-direction: column;

	}
}

@media (max-width: 400px){
	.logo{
		margin-bottom: 10px;
	}
	.menu{
		flex-direction: column;
		text-align: center;
		width: 100%;
	}
	.menu__item:not(:last-child){
		margin: 0 0 10px 0;
	}
	.menu__item{
		border-bottom: 1px solid #845cff;
		width: 100%;
		text-align: center;
		box-sizing: border-box;
	}
	.main-block__body{
		padding: 285px 0 194px 0;
		text-align: center;
	}

}