:root {
    --main-font-color: #32325d;
    --secondary-font-color: #525f7f;
    --brand-color: #845cff;
}

html {
	scroll-behavior: smooth;
}
body{
	font-family: "Brown";
	margin: 0;
	padding: 0;

}
ul{
	margin: 0;
	padding: 0;

}
a{
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;
}

._ibg{
	position: relative;
}
._ibg img{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

._container{
	max-width: 1200px;
	padding: 0 20px;
	margin: 0px auto;
	box-sizing: border-box;
}

.header{
	position:absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	
}

.header__container{
	display: flex;
	min-height: 105px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.menu{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.menu__item:not(:last-child){
	margin: 0 50px 0 0;
}
.btn{
	cursor: pointer;
	padding: 3px 20px 5px 20px;
    border-radius: 2px;
	border: 1px solid transparent;
}
.btn_active{
	color: #ffffff;
	transition: all 0.5s;
	background: var(--brand-color); 	
}

.btn_active:hover {
	background-color: transparent;
	border: 1px solid var(--brand-color);
	color: var(--brand-color);
}

.menu__item:hover{
	transition: all .3s;
	color: #ffffff;
	background: var(--brand-color); 
	cursor: pointer;
}
.menu__link{
	color: inherit;
}

.Block-text{
	color: var(--main-font-color);
	font-size: 16px;
	font-weight: regular;
}
.Block-text:hover {
	opacity: 0.7;
}

.main-block{
	position: relative;
}

.main-block__body{
	position: relative;
	padding: 184px 0 194px 0;
	z-index: 2;
}

.main-block__body > *:not(:last-child){
	margin-bottom: 25px;
}

.main-block__title{
	max-width: 400px;
	font-weight: bold;
	font-size: 41px;
	line-height: 62px;
	color: var(--main-font-color);
}

.main-block__text{
	max-width: 400px;
	line-height: 32px;
	font-weight: 100;
	font-size: 20px;
	color: var(--secondary-font-color);
}
.Block-buttons{
	max-width: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.Block__link{
	margin-top: 35px;
}

.main-block__image{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}

.improves-blocks{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: -110px;
}
.blocks__item{
	width: 430px;
	height: 400px;
	background: #fff;
	padding: 30px 30px;
	box-sizing: border-box;
	margin: 10px 0;
	z-index: 1;
	margin-bottom: 35px;
}

.blocks__item:not(:first-child){
	box-shadow: -7px 1px 61px -34px rgb(0 0 0 / 30%);

}
.blocks__item_mini-head{
	font-size: 25px;
	color: #212240;
	font-weight: 100;
}
.blocks__item_text{
	max-width: 400px;
	align-items: center;
	line-height: 20px;
	font-size: 15px;
	color: #212240;
	font-weight: 100;
}

.Light-header{
	font-weight: 100;
	font-size: 35px;
	color: var(--main-font-color);

}
.item-header{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}
.item-header__text{
	line-height: 27px;
	font-size: 17px;
}

.blocks__item_image{
	height: 120px;
}

.blocks__item_image img{
	padding-top: 15px;
	height: 100px;
}

.Proof {
	text-align: center;
}

.Proof__under-text {
	max-width: 800px;
	font-weight: 100;
	font-size: 20px;
	color: var(--secondary-font-color);
	line-height: 30px;
	margin:0 auto;
}
.Proofes {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.Proofes__item {
	width: 200px;
	margin: 0 3% 50px 3%;
}

.Item__smoll-header {
	font-weight: regular;
	font-size: 16px;
	color: #212240;
	margin-bottom: 0px;

}
.Item__text {
	margin-top: 5px;
	font-size: 13px;
	line-height: 20px;
	font-weight: 100;
	color: var(--secondary-font-color);
}

.Priority {
	margin-bottom:150px;

}

.Priority__container {
	position: relative;
}
.Priority__container_left{
	display: flex;
	flex-direction: row-reverse;
}

.background__image_left{
	position: absolute;
    width: 550px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.Priority__body {
	max-width: 500px;
}
.Priority__offer {
	max-width: 440px;
}

.Opshens {
	display: flex;
	justify-content: space-between;
}
.Opshens__item {
	max-width: 180px;
}
.Item__smoll-header {
	font-size: 27px;
	font-weight: 100;
	color: var(--main-font-color);

}

.background__image{
	position: absolute;
	width: 494px;
	height:100%;
	top: 0;
	right: 0;
	z-index: -1;	
}

.finance{
	position: relative;
}



.finances-blocks {
	margin-top:40px;
	display: flex;
}
.finances-blocks_bottom{
	justify-content: space-between;
}
.time__title {
	font-size: 25px;
	color: var(--main-font-color);
	margin-top:45px;
	font-weight:300;
}
.time__items {
}
.finance__item {
	display: flex;
	align-items: center;
}
.item-img{
	width: 22px;
	padding-top: 3px;
	margin-right: 12px;
	height: 22px;
}
.item-text {
	font-size: 17px;
	color: var(--main-font-color);
	font-weight: 100;
}
.finance__img{
	width: 50%;
	height: 70%;
}
.finance__img img{
	position: absolute;
    left: 0;
    top: -82px;
    width: 100%;
    object-fit: cover;
}
.Started {
	margin-top: 70px;
}
.Started__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.offer__header_started{
	margin-top: 10px;
	margin-bottom: 10px;
}
.container-input {
	position: relative;
	margin-top: 25px;
		
}
.container-input__input {
	width: 470px;
	height: 60px;
	box-shadow: 0px 0px 5px 5px #f4f4fe;
	border:1px solid #f4f4fe;
	padding: 5px 140px 0 20px;
	border-radius: 3px;
	box-sizing: border-box;
	outline: none;
}
.container-input__input::placeholder{
	color: #8081ab;
	font-size: 17px;
	font-weight: 100;
}
.container-input__button {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.footer{
	margin-top: 100px;
	background-color: #212240;
	text-align: center;
	padding: 20px 0;
}

.logo-link img:hover{
	opacity: .5;
}
